<%- include('../includes/head.ejs')%>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
    <%- include('../includes/header.ejs')%>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <%- include('../includes/sidebar.ejs')%>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->  
      <div id="main">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-navy-blue" data-style="navy-blue"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        انستیتوت حسابداری
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="#">Admin Lab</a> <span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="#">Dashboard</a></li>
                        <li class="pull-right search-wrap">
                            <form class="hidden-phone">
                                <div class="search-input-area">
                                    <input id=" " class="search-query" type="text" placeholder="جستجو...">
                                    <i class="icon-search"></i>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="span12">
                   <div class="mainDiv">
                    <table border="2">
                        <center> <p>کتاب دخول و خروج( اساس) متعلمین و محصلین لیسه / انستیتوت ( اداره و حسابداری هرات)</p></center>
                            <thead>
                                <tr>
                                    <th class="verticalText" rowspan="2">شماره</th>
                                    <th colspan="3">شهرت</th>
                                    <th rowspan="2" class="verticalText">نمبر اساس</th>
                                    <th colspan="4">نمبر تذکره</th>
                                    <th rowspan="2" class="verticalText">سال تولد</th>
                                    <th rowspan="2" class="verticalText">ملیت</th>
                                    <th rowspan="2" class="verticalText">پیشه پدر</th>
                                    <th colspan="3">سکونت اصلی</th>
                                    <th colspan="3">سکونت فعلی</th>
                                    <th colspan="6">شمولیت</th>
                                    <th colspan="3">بخش</th>
                                </tr>
                                <tr>
                                    <th class="verticalText">اسم</th>
                                    <th class="verticalText">ولد</th>
                                    <th class="verticalText">ولدیت</th>
                                    <th class="verticalText">جلد</th>
                                    <th class="verticalText">صفحه</th>
                                    <th class="verticalText">نمبر ثبت</th>
                                    <th class="verticalText">نمبر صکوک</th>
                                    <th class="verticalText">قریه یا گذر</th>
                                    <th class="verticalText">ولسوالی/ناحیه</th>
                                    <th class="verticalText">ولایت</th>
                                    <th class="verticalText">قریه یا گذر</th>
                                    <th class="verticalText">ولسوالی/ناحیه</th>
                                    <th class="verticalText">ولایت</th>
                                    <th class="verticalText">فارغ صنف در سال</th>
                                    <th class="verticalText">مکتب سابقه</th>
                                    <th class="verticalText">ولایت</th>
                                    <th class="verticalText">شامل صنف در سال</th>
                                    <th class="verticalText">رشته</th>
                                    <th class="verticalText">نمبر مکتوب شمولیت</th>
                                    <th class="verticalText">نهاری</th>
                                    <th class="verticalText">لیلیه</th>
                                    <th class="verticalText">نمبر مکتوب</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
               </div>
            </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<%- include('../includes/end.ejs')%>