<%- include('../includes/head.ejs')%>
<style>
    #tableData{
        direction: rtl;
    }
    .p{
            text-align: center;
        }
        table{
            direction: rtl
        }
        .verticalText
       { 
           -webkit-transform: rotate(-90deg); 
           -moz-transform: rotate(-90deg); 
          height: 70px;
          text-align: center;

       };

</style>
</head>
<body>
 <%- include('../includes/header.ejs')%> 
 
    <div class="mainDiv">
            <div id="first">
                <div id="one">
                    <div id="photo"></div>
                    <img src="logo1.png" alt="">
                    <p>دولت جمعوری اسلامی افغانستان</br>اداره تعلیمات تخنیکی و مسلکی هرات </br>
                        آمریت تعلیمات تخنیکی و مسلکی هرات </br>
                        آمریت انستیتوت اداره و حسابداری هرات </br>
                        نمرات دوره دوساله
                    </p>
                    <img src="logo1.png" alt="">
                </div>
                <div id="two">
                    <table id="table1" border="2">
                        <tr>
                            <td>عبدالخالق</td>
                            <td>اسم</td>
                        </tr>
                        <tr>
                            <td>محمد زمان</td>
                            <td>ولد / بنت</td>
                        </tr> <tr>
                            <td>چهارده پاس</td>
                            <td>درجه تحصیل</td>
                        </tr> <tr>
                            <td>اداره منجمنت B</td>
                            <td>رشته</td>
                        </tr> <tr>
                            <td>251</td>
                            <td>نمبراساس</td>
                        </tr> <tr>
                            <td>4828036</td>
                            <td>نمبر تذکره</td>
                        </tr> <tr>
                            <td>1371</td>
                            <td>سال تولد</td>
                        </tr> <tr>
                            <td>1391</td>
                            <td>سال شمول</td>
                        </tr> <tr>
                            <td>1392</td>
                            <td>سال فرغت</td>
                        </tr> <tr>
                            <td>76.47</td>
                            <td>اوسط عمومی نمرات</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- <p>نمبر ثبت............ <span></span> تاریخ:....../....../1398</p> -->
            <div id="last">
                <table border="2" id="table2">
                    <tr>
                        <td colspan="4">( صنف ( 14 ) گروپ  ( الف </td>
                        <td colspan="4"> ( صنف ( 13 ) گروپ  ( الف </td>
                        <td rowspan="3">شماره</td>
                    </tr>
                    <tr>
                        <td colspan="2">سمستر دوم</td>
                        <td colspan="2">سمستر اول</td>
                        <td colspan="2">سمستر دوم</td>
                        <td colspan="2">سمستر اول</td>
                    </tr>
                    <tr>
                        <td>نمره</td>
                        <td>مضامین</td>
                        <td>نمره</td>
                        <td>مضامین</td>
                        <td>نمره</td>
                        <td>مضامین</td>
                        <td>نمره</td>
                        <td>مضامین</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>انگلسی</td>
                        <td>78</td>
                        <td>مدیریت پروجه سازی</td>
                        <td>79</td>
                        <td>مدیریت منابع  بشری</td>
                        <td>50</td>
                        <td>ریاضی اقتصادی</td>
                        <td>10</td>
                        </tr>
                    <tr>
                        <td>100</td>
                        <td>حقوق تجارت</td>
                        <td>77</td>
                        <td>اقتصاد ملی</td>
                        <td>68</td>
                        <td>حقوق اداره</td>
                        <td></td>
                        <td></td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>76</td>
                        <td>امتحان دولتی</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>1065</td>
                        <td></td>
                        <td>941</td>
                        <td></td>
                        <td>748</td>
                        <td></td>
                        <td>636</td>
                        <td colspan="2"> مجموع نمرات </td>
                    </tr>
                    <tr>
                        <td>88.8</td>
                        <td></td>
                        <td>85.55</td>
                        <td></td>
                        <td>68.00</td>
                        <td></td>
                        <td>63.6</td>
                        <td colspan="2"> اوسط نمرات </td>
                    </tr>
                    <tr>
                        <td colspan="4">76.47</td>
                        <td colspan="5">اوسط عمومی نمرات</td>
                    </tr>
                </table>
                <p>نمرات فوق برویت جداول نتایج بدون قلم خوردهگی ،تراش ترتیب و صحت است. </p>
            
        </div> 


        <%- include('../includes/footer.ejs')%>
     <!-- End Footer area-->
     <script src="jsFunction.js"></script>

        <%- include('../includes/end.ejs')%>
  