
<table border="2" style="  margin-top:2%; margin: auto; border-collapse: collapse; direction: rtl;">
    <center><h4>وزارت معارف</h4>
    <h4>معینیت تعلیمات تخنیکی و مسلکی</h4>
    <h4>ریاست امور مکاتب و برنامه ها</h4>
    <h4>آمریت امور مکاتب</h4>
    <p>(&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;)نگران صنف</p>
    <p>&ensp;&ensp;/&ensp;&ensp;/&ensp;&ensp;صنف (&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;) رشته (&ensp;&ensp;&ensp;&ensp;&ensp;) از تاریخ &ensp;&ensp;/&ensp;&ensp; / &ensp;&ensp;الی </p>
    </center>
    <thead>
        <tr>
            <th class="verticalText" rowspan="2">شماره</th>
            <th colspan="2">شهرت</th>
            <th class="verticalText" rowspan="2">نمبر اساس</th>
            <th colspan="4">هفته اول</th>
            <th colspan="4">هفته دوم</th>
            <th colspan="4">هفته سوم</th>
            <th colspan="4">هفته چهارم</th>
            <th colspan="4">مجموع</th>
            <th class="verticalText" rowspan="2">مجموع</th>
            <th rowspan="2">ملاحظات</th>
        </tr>
        <tr>
            <td>اسم</td>
            <td>ولد</td>
            <td class="verticalText">حاضر</td>
            <td class="verticalText">غیرحاضر</td>
            <td class="verticalText">مریض</td>
            <td class="verticalText">رخصت</td>
            <td class="verticalText">حاضر</td>
            <td class="verticalText">غیرحاضر</td>
            <td class="verticalText">مریض</td>
            <td class="verticalText">رخصت</td>
            <td class="verticalText">حاضر</td>
            <td class="verticalText">غیرحاضر</td>
            <td class="verticalText">مریض</td>
            <td class="verticalText">رخصت</td>
            <td class="verticalText">حاضر</td>
            <td class="verticalText">غیرحاضر</td>
            <td class="verticalText">مریض</td>
            <td class="verticalText">رخصت</td>
            <td class="verticalText">حاضر</td>
            <td class="verticalText">غیرحاضر</td>
            <td class="verticalText">مریض</td>
            <td class="verticalText">رخصت</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>