<%- include('../includes/head.ejs')%>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
    <%- include('../includes/header.ejs')%>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <%- include('../includes/sidebar.ejs')%>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->  
      <div id="main">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-navy-blue" data-style="navy-blue"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        انستیتوت حسابداری
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="#">Admin Lab</a> <span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="#">Dashboard</a></li>
                        <li class="pull-right search-wrap">
                            <form class="hidden-phone">
                                <div class="search-input-area">
                                    <input id=" " class="search-query" type="text" placeholder="جستجو...">
                                    <i class="icon-search"></i>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="span12">
                    <div class="mainDiv">
                    <section>
                            <table border="2px">
                                <thead>
                                    <tr>
                                        <th colspan="10">
                                            فیصدی نمرات چهار سمستر صنف چهاردهم رشته اقتصاد وتجارت ذکور انستیوت اداره و حسابداری
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td  class="verticalText">شماره</td>
                                        <td>اسم</td>
                                        <td>ولد</td>
                                        <td class="verticalText">نمبراساس</td>
                                        <td class="verticalText">سمستراول</td>
                                        <td class="verticalText">سمستردوم</td>
                                        <td class="verticalText">سمسترسوم</td>
                                        <td class="verticalText">سمسترچهارم</td>
                                        <td>مجموع</td>
                                        <td>اوسط</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
               </div>
            </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<%- include('../includes/end.ejs')%>