<%- include('../includes/head.ejs')%>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
    <%- include('../includes/header.ejs')%>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <%- include('../includes/sidebar.ejs')%>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->  
      <div id="main">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-navy-blue" data-style="navy-blue"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        انستیتوت حسابداری
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="#">Admin Lab</a> <span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="#">Dashboard</a></li>
                        <li class="pull-right search-wrap">
                            <form class="hidden-phone">
                                <div class="search-input-area">
                                    <input id=" " class="search-query" type="text" placeholder="جستجو...">
                                    <i class="icon-search"></i>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="span12">
                   <div class="mainDiv">
                    <center>
                        <p>وزارت معارف</p>
                        <p>معینت تعلیمات تخنیکی و مسلکی</p>
                        <p>آمریت امور مکاتب</p>
                        <p>موسسهً تعلیمی(اداره و حسابداری)</p>
                        <p style="float:right;">حا ضری هفته وار</p>
                        <p style="float:left">نگران صنف(&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;)</p>
                        <div style="clear:both"></div>
                        <p>صنف () رشته()از تاریخ / /الی / /</p>
                        </center>
                        <table border="2px">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="verticalText">شماره</th>
                                    <th colspan="2">شهرت</th>
                                    <th rowspan="2">نمبر اساس</th>
                                    <th colspan="6">شنبه &ensp;&ensp;/&ensp;&ensp;/&ensp;&ensp;</th>
                                    <th colspan="6">یکشنبه &ensp;&ensp;/&ensp;&ensp;/&ensp;&ensp;</th>
                                    <th colspan="6">دوشنبه &ensp;&ensp;/&ensp;&ensp;/&ensp;&ensp;</th>
                                    <th colspan="6">سه شنبه &ensp;&ensp;/&ensp;&ensp;/&ensp;&ensp;</th>
                                    <th colspan="6">چهار شنبه &ensp;&ensp;/&ensp;&ensp;/&ensp;&ensp;</th>
                                    <th colspan="6">پنج شنبه &ensp;&ensp;/&ensp;&ensp;/&ensp;&ensp;</th>
                                    <th rowspan="2" class="verticalText">حاضر</th>
                                    <th rowspan="2" class="verticalText">غیرحاضر</th>
                                    <th rowspan="2" class="verticalText">مریض</th>
                                    <th rowspan="2" class="verticalText">رخصت</th>
                                    <th rowspan="2" class="verticalText">مجموع</th>
                                    <th rowspan="2" class="verticalText">ملاحظات</th>
                                </tr>
                                <tr>
                                    <th>اسم</th>
                                    <th>ولد</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3"  style="height:70px">اًمضا استاد مضمون</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                    
                        </table>
                    </div>
                </div>
            </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<%- include('../includes/end.ejs')%>